#Users-table {
  margin: 2rem auto;
  width: 90%;
  border-collapse: collapse;
  background-color: white;
  table-layout: fixed;
  border-radius: 5px;
}

#Users-table th,
#Users-table td {
  padding: 1rem 0rem 1rem 2rem;
  text-align: left;
}

#Table-head-row {
  background-color: #f0b446;
}

#Users-table .Table-body-row:nth-child(odd) {
  background-color: rgb(240, 240, 240);
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
}
